:root {
  --font-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  --color-light: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }
}

a {
  color: inherit;
}

header > h1 {
  font-size: clamp(2rem, -0.4742rem + 6.1856vw, 2.75rem);
}

header > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
